.ticketsList {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 20px;
  list-style-type: none;
}

.ticketItem {
  color: var(--text-color-third);
  text-decoration: none;
  cursor: pointer;
  font-size: var(--font-size-third);

  &:hover {
    color: var(--text-color-secondary);
  }
}

.empty {
  color: var(--text-color-third);
  font-size: var(--font-size-third);
  text-align: center;
}
